@charset "UTF-8";

/*======================================
=              VARIÁVEIS               =
======================================*/
:root{
    --cor0:#1F2327;
    --cor1:#744733;
    --cor2:#7A3D1D;
    --cor3:#EE7B25;
    --cor4:#B6AB9B;
    --cor5:#D2C090;

    --branco:#ffffff;
    --preto:#222;
    --cinza:#555;
    --sombra:rgba(0,0,0,.15);
} 

/*======================================
=             FONTES              =
======================================*/

@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Kaushan+Script&display=swap');

@font-face{
    font-family: 'Gorditas';
    src: url('fonts/Gorditas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Kaushan';
    src: url('fonts/KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'rox';
    src: url('fonts/Rox.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*======================================
=             CABEÇALHO              =
======================================*/

header{
    position: relative;
    top: 0;
    padding: 0px;
    margin: 0px;
    font-family: 'Gorditas';
    font-size: 1em;
    text-align: center;
}
nav{
    font-family: 'Kaushan', cursive;
    color: var(--branco);
    padding: 0px;
    margin: 5px;
    text-align: center;
}
nav a{
    color: var(--preto);
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
nav a:hover{
    background-color: var(--cor4);
    text-decoration: underline;
    color: var(--cor1);
}

body{
    
    background-color: var(--branco);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


/*======================================
=             CONTEÚDO             =
======================================*/


main{
    background-color: var(--cor4);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

/*======================================
=             CONTATO             =
======================================*/

#contato{
    background-color: var(--cor4);
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
#contato h2{
    font-family: 'Kaushan';
    color: var(--preto);
    text-align: center;
    margin-bottom: 10px;
}
#faixadecontato{
    background-color: var(--cor4);
    display: flex;
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}

#contato a{ 
    color: var(--cor2);
    text-decoration: none;
    font-size: 0.9em;
}

/*======================================
=             RODAPÉ              =
======================================*/

footer{
    font-family: Arial, sans-serif;
    font-size: 0.8em;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}