@charset "UTF-8";

/*======================================
=              VARIÁVEIS               =
======================================*/
:root{
    --cor0:#1F2327;
    --cor1:#744733;
    --cor2:#7A3D1D;
    --cor3:#EE7B25;
    --cor4:#B6AB9B;
    --cor5:#D2C090;

    --branco:#ffffff;
    --preto:#222;
    --cinza:#555;
    --sombra:rgba(0,0,0,.15);
} 

body{
    background-color: var(--cor5);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

main{
    background-color: var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}