@charset "UTF-8";

/*======================================
=               VARIÁVEIS              =
======================================*/
:root{
    --cor0:#1F2327;
    --cor1:#744733;
    --cor2:#7A3D1D;
    --cor3:#EE7B25;
    --cor4:#B6AB9B;
    --cor5:#D2C090;

    --branco:#ffffff;
    --preto:#222;
    --cinza:#555;
    --sombra:rgba(0,0,0,.15);
}
/*======================================
=                FONTES                =
======================================*/
@font-face {
    font-family: gorditas;
    src: url(fontes/Gorditas-Regular.ttf) format("truetype");
}
@font-face {
    font-family: gorditas-bold;
    src: url(fontes/Gorditas-Bold.ttf) format("truetype");
}
@font-face{
    font-family: Roxborough;
    src: url(fontes/RoxboroughCF-Regular.ttf) format("truetype");
}
/*======================================
=              CABEÇALHO               =
======================================*/
header{
    background-color: var(--branco);
    color: var(--preto);
    padding: 10px;
    text-align: center;
    position: relative;
    opacity: 0.8; 
}
header h1{
    font-family: Roxborough;
    font-size: 36px;
    margin: 0;
}
header nav{
    margin-top: 10px;
}
header nav a{
    color: var(--preto);
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    margin: 0 5px; 
    border-radius: 5px;
    transition: background-color 0.3s; 
}
header nav a:hover{
    background-color: var(--cor5);
    text-decoration: underline;
}
/*======================================
=               CONTEÚDO               =
======================================*/
body{
    background-color: var(--branco);
    margin: 0px;
    padding: 10px;
    padding-bottom: 60px; 
    text-align: center;
    font-family: Arial, sans-serif;
}
body h2{
    font-family: Roxborough;
    font-size: 36px;
    background-color: var(--cor5);
    color: var(--preto);
    margin-bottom: 0px;
    border-radius: 5px;
}
.sobre img{
    display: block; 
    margin: 20px auto 0 auto; 
    width: 300px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 8px var(--cor2);
}

/*======================================
=               RODAPÉ                 =
======================================*/
footer{
    background-color: var(--cor4);
    color: var(--branco);
    font-size: 0.7em; 
    text-align: center;
    padding: 0px;
    bottom: 0px;
    width: 100%;
    position: fixed;
    left: 0; 
}
footer a{
    color: var(--preto);
    text-decoration: none;
}